<%- include('partials/header') %>

<section class="section">
    <div class="container has-text-centered">
        <h1 class="title is-3 mb-5">Welcome to the Recipe App</h1>
        <p class="subtitle is-5">We're currently cooking up something amazing, but while we're under construction, why not spice things up with a random recipe? Click below and start your culinary adventure!</p>
        <div class="mt-5">
            <a href="/recipe" class="button is-primary">Get a Random Recipe</a>
        </div>
    </div>
</section>

<%- include('partials/footer') %>
